/* Minimum width */
.min-w-auto {
  min-width: auto !important;
}
$min-w-array: 100, 133;
@each $min in $min-w-array {
  .min-w-#{$min} {
    min-width: toRem($min);
  }
}
/* Maximum width */
$max-w-array: 8, 11, 26, 100, 110, 120, 130, 131, 150, 167, 178, 190, 194, 220, 282, 304, 366, 374, 387, 429, 519, 640, 713, 894;
@each $max in $max-w-array {
  .max-w-#{$max} {
    max-width: toRem($max);
  }
}
/* Width */
$w-array: 16, 24, 25, 30, 32, 33, 40, 41, 42, 48, 105;
@each $w in $w-array {
  .w-#{$w} {
    width: toRem($w) !important;
  }
}
/* Minimum Height */
$min-h-array: 157, 175, 200, 220;
@each $min in $min-h-array {
  .min-h-#{$min} {
    min-height: toRem($min) !important;
  }
}
/* Maximum Height */
$max-h-array: 35, 157;
@each $max in $max-h-array {
  .max-h-#{$max} {
    max-height: toRem($max);
  }
}
/* Height */
$h-array: 16, 24, 25, 30, 32, 33, 40, 41, 42, 48, 105, 157;
@each $h in $h-array {
  .h-#{$h} {
    height: toRem($h) !important;
  }
}
/* Use only for Table */
.t-xl-min-w-150 {
  @media screen and (min-width: 1400px) {
    min-width: toRem(150);
  }
}
.t-xl-min-w-200 {
  @media screen and (min-width: 1400px) {
    min-width: toRem(200);
  }
}
