/* Start Table Styles */
.zTable {
    width: 100% !important;
    font-size: toRem(14) !important;
    font-weight: $fw_medium !important;
    color: $primary-color !important;
    margin-bottom: 0;
    border-color: $stroke;
    border-bottom: none !important;
    > :not(caption) {
        &:first-child {
            > * {
                > * {
                    border-bottom: none;
                    padding: 0 !important;
                    // &::before,
                    // &::after {
                    //   display: none !important;
                    // }
                    > * {
                        background-color: $header-color;
                    }
                    &:first-child {
                        padding-left: 0 !important;
                        > * {
                            border-radius: toRem(10) 0 0 toRem(10);
                        }
                    }
                    &:last-child {
                        padding-right: 0 !important;
                        > * {
                            border-radius: 0 toRem(10) toRem(10) 0;
                        }
                    }
                    > * {
                        padding: toRem(11.5) toRem(20) !important;
                    }
                }
            }
        }
        &:last-child {
            > *:last-child {
                > td {
                    padding-bottom: 0 !important;
                    border-bottom-color: transparent !important;
                }
            }
        }
        > * {
            position: relative;
            > * {
                padding: toRem(22) toRem(20) !important;
                border-bottom-color: $table-bottom-70 !important;
                vertical-align: middle;
                &:first-child {
                    padding-left: toRem(20) !important;
                }
                &:last-child {
                    padding-right: toRem(20) !important;
                }
            }
        }
    }
    thead {
        tr {
            th {
                font-size: toRem(14) !important;
                font-weight: $fw_medium !important;
                line-height: toRem(17);
                color: $title-black;
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: toRem(12) !important;
                font-weight: $fw_medium !important;
                line-height: toRem(15);
                color: $para-text;
            }
        }
    }
    > tbody > tr > * {
        transition: all 0.3s;
    }
    &-responsive {
        @media screen and (min-width: 1024px) {
            overflow: hidden;
        }
        @media screen and (max-width: 1023px) {
            padding-bottom: toRem(20);
        }
    }
    &-last-item-right {
        > :not(caption) {
            > * {
                &:not(&.child) {
                    > * {
                        position: relative;
                        &:last-child {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
    &-last-item-border {
        > :not(caption) {
            &:last-child {
                > *:last-child {
                    > td {
                        padding-bottom: toRem(22) !important;
                        border-bottom-color: $stroke !important;
                    }
                }
            }
        }
    }
    .sf-select-without-search {
        min-width: 135px;
        padding-left: toRem(10) !important;
        &::after {
            right: 5px;
        }
        &.open {
            .list {
                li {
                    white-space: normal !important;
                }
            }
        }
    }
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control {
    padding-left: toRem(40) !important;
    // > * {
    //   margin-left: toRem(10) !important;
    // }
    &::before {
        top: 50%;
        left: toRem(4);
        transform: translateY(-50%);
        height: toRem(16);
        width: toRem(16);
        display: block;
        position: absolute;
        color: $white;
        border: toRem(2) solid $para-text;
        border-radius: 50%;
        text-align: center;
        line-height: toRem(14);
        box-shadow: 0 0 toRem(3) $black;
        box-sizing: content-box;
        content: "+";
        background-color: $para-text;
        transition: all 0.3s;
    }
}
table.dataTable.dtr-inline.collapsed
    > tbody
    > tr.parent
    > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed
    > tbody
    > tr.parent
    > th.dtr-control:before {
    content: "-";
}
table.dataTable.dtr-inline.collapsed
    > tbody
    > tr:last-child
    > td.dtr-control::before {
    transform: translateY(0px);
}
.dtr-details {
    display: block !important;
    li {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px 5px;
    }
}
table.dataTable td.dataTables_empty {
    text-align: center !important;
}
/* End Table Styles */
.quotation-table-wrap {
    padding-bottom: toRem(10);
    &::-webkit-scrollbar {
        height: toRem(10);
        &-track {
            background: $scroll-track;
            border-radius: toRem(10);
        }
        &-thumb {
            background: $scroll-thumb;
            border-radius: toRem(10);
        }
    }
    .singleService {
        min-width: 135px;
        box-shadow: none;
    }
}
